.layout {

    display: flex;
    min-height: 100vh;

}

.left-navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.left-navbar nav {
    display: flex;
    flex-direction: column;
}

.left-navbar nav button {
    font-weight: bold;
}

.main-content {
    width: 1000px;
    flex: 1;
    margin-left: 200px;
    margin-right: 300px;
    padding: 20px;
}

.right-navbar {}